.user_username{
color: #78A2C4;
}


.user_list{
margin-top: 30px;
}

.user_card_details{
  background-color: #DDDDDD;
  padding: 10px;
}

.user_card_details_title{
  color: #1C5DA8;
}

.user_list_item{
  cursor: pointer;
}

.user_list_wrapper{
  width: 600px;
  margin: auto;
  font-size: 20px;
}

.user_input{
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.user_list_item::marker{
  color: #c3c3c4;
}